body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#Navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

#SearchBar{
  display: flex;
}

.puppy{
  border: black 2px solid;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.allPuppies{
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img{ sa
  height: 350px
}

#seeDetails{
  border: black solid 5px;
  width: 250px;

}